%%-*- mode: erlang -*-
{fail_on_warning, true}.
{deps, [
        {webmachine, ".*", {hg, "http://bitbucket.org/basho/webmachine", "tip"}},
        {log4erl, ".*", {git, "http://github.com/ahmednawras/log4erl.git", "master"}},
        {parse_trans, ".*", {git, "http://github.com/esl/parse_trans.git", "master"}}
       ]}.
{erl_first_files, ["src/platformer_memo.erl"]}.
{erl_opts, [debug_info]}.
