#userid * label {
  font-weight: bold;
}
#userid {
  margin: 1em 0;
}
.error {
  color: red;
}
.info {
  color: green;
}
#log p {
  font-family: monospace;
  padding: 0;
  margin: 0;
  font-size: smaller;
}