%% -*- erlang -*-
[{platformer, [
               {scheme, http},              % the scheme for this node's URL
               {ip, "0.0.0.0"},             % ip address this node will listen on
               {port, 8000},                % port on which this node will be contacted
               {log_dir, "log"},            % relative to the priv directory
               {dispatch, "dispatch.conf"}, % relative to the priv directory
               {nodes, ["http://0.0.0.0:8000"]},
               {announce_interval, 30},     % how often to announce self to other servers (minutes)
               {propagation_age, 5}         % starting age for propagation
              ]
 }].
