%% -*- erlang -*-
[{platformer, [
               {scheme, http},                    % the scheme for this node's URL
               {ip, "0.0.0.0"},                   % ip address this node will listen on
               {port, 8000},                      % port on which this node will be contacted
               {log_dir, "log"},                  % relative to the priv directory
               {separate_log, false},             % whether logging should be in a separate (per-node) file
               {dispatch, "dispatch.conf"},       % relative to the priv directory
               {seeds, ["http://0.0.0.0:8000"]},  % pre-configured "seed" nodes
               {announce_interval, 30},           % how often to announce self to other servers (minutes)
               {memo_priority_max, 3},            % starting (and maximum) priority for memo propagation
               {httpc_timeout, 5000}              % timeout (in ms) for http client requests made by this node
              ]
 }].
